#inlineKeypadChar {
  width: 32em;
  border-radius: 3px;
  box-shadow: 6px 6px 10px 0px
  rgba(0, 0, 0, 0.4);
}

#inlineKeypadNum { 
 
 border-radius: 3px;
 box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
}

.keypad-inline {
  background-color: #6c757d;
  padding: 4px;
}

/* キーパッド */
.keypad-popup {
  border: 1px solid #dee2e6;
}
.keypad-special, .keypad-key {
  border: 1px solid #dee2e6;
  padding: 4px;
  width: 70px;
  height: 70px;
}
.keypad-clear {
  background-color: #dc3545;
  width: 65px !important;
}

.keypad-back {
  background-color: #28a745;
  width: 65px !important;
}

.keypad-enter {
  background-color: #007bff;
  color: white;
  font-weight: bold;
  width: 65px !important;
}

#inlineKeypadChar .keypad-back {
  margin-left: -0.5em;  
}

#inlineKeypadChar .keypad-enter  {
  margin-left: -2.35em;
}

